[Desktop Entry]
Name=Return to Gamemode
Comment=Return to gamescope custom gamemode session
Exec=/usr/bin/return-to-gamemode
TryExec=/usr/bin/return-to-gamemode
Type=Application
DesktopNames=Gamemode
Icon=steam
Categories=Game;
